.parrafo{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 0.7em !important;
    padding: 0 0.7rem;;
}

#informacion{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.titulo{
    font-weight: bold !important;
    text-transform: uppercase;
    font-size: 0.8em !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
