.parrafo{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

#informacion{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.titulo{
    font-weight: bold !important;
    text-transform: uppercase;
}
